* {
  font-family: "Mulish", sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

nav {
  background-color: #141c26;
  display: flex;
  width: 100%;
}

nav a {
  font-size: 1.5em;
}

a:hover {
  color: #0487d9;
  text-decoration: none;
}

#navmenu {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-top: 20px;
}

#logocontainer {
  display: flex;
  justify-content: flex-start;
}

.dropdown-menu {
  background-color: #141c26;
}

.dropdown-item {
  color: #f2f2f2;
}

.dropdown-item:hover {
  color: #0487d9;
  background-color: transparent;
}

.dropdown-toggle::after {
  content: none;
}

#logocontainer {
  text-align: center;
  height: 100px;
  width: 100%;
  background-color: #141c26;
  color: #f2f2f2;
}

#logo {
  width: 80px;
  padding-top: 10px;
}

#carousel {
  width: 100%;
}

#topsection {
  display: flex;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 50px;
  font-size: 1.3em;
  color: #141c26;
}

#topsectionleft {
  text-align: inherit;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 20px;
  padding-top: 50px;
}

#rightsectionrow {
  padding-top: 50px;
  justify-content: center;
}

.boxcard {
  padding: 5px 5px 5px 5px;
  border: none;
}

#buttonstyle {
  font-size: 1.2em;
  background-color: #012e40;
  border: none;
  color: #f2f2f2;
}

#homepage-buttonstyle {
  font-size: 1.2em;
  background-color: #0487d9;
  border: none;
  color: #f2f2f2;
}

#buttonstyle:hover {
  color: #0487d9;
  text-decoration: none;
}

#homepage-buttonstyle:hover {
  color: #012e40;
}

#textcarousel {
  width: 100%;
  height: auto;
  background-color: #141c26;
  text-align: center;
  color: #f2f2f2;
}

#textcarousel-item {
  padding-top: 50px;
  padding-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 1.5em;
  text-align: center;
}

#midsection {
  display: flex;
  width: 100%;
  justify-content: center;
  padding-bottom: 20px;
}

#galleryrow {
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
}

#galleryrowtwo {
  padding-top: 20px;
  padding-left: 50px;
  padding-right: 50px;
}

#master {
  width: 100%;
  padding-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.5em;
}

#sendbutton {
  background-color: #0487d9;
  border: none;
}

#closebutton {
  border: none;
  background-color: #0487d9;
}

footer {
  background-color: #141c26;
  height: auto;
  font-size: 1.5em;
  color: #f2f2f2;
}

#footercontainer {
  width: 100%;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 50px;
  padding-right: 50px;
  background-color: #141c26;
}

#footerrow {
  display: flex;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 20px;
}

#footerleft,
a {
  text-decoration: none;
  color: #f2f2f2;
}

#footermiddle a {
  color: #f2f2f2;
  text-decoration: none;
}

#footerbutton {
  font-size: 0.8em;
  background-color: #0487d9;
  border: none;
  text-decoration: none;
  color: #f2f2f2;
}

#footerbutton:hover {
  color: #012e40;
}

#socialmediaicons {
  display: flex;
  justify-content: center;
  padding-left: 20px;
}

#socialmediaicons,
p {
  padding-right: 10px;
}

#svgicons {
  height: 30px;
  width: 30px;
}

#portfoliotoprow {
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
}

#portfoliomiddlerow {
  padding-left: 50px;
  padding-right: 50px;
}

#portfoliobottomrow {
  padding-left: 50px;
  padding-right: 50px;
}

#contactsection {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 150px;
  padding-bottom: 150px;
  font-size: 1.3em;
}

#contactrow {
  display: flex;
}

#emaillink {
  color: #1b2833;
}

#maprow {
  padding-top: 50px;
  text-align: center;
}

#pricesection {
  width: 100%;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 50px;
  padding-bottom: 100px;
  font-size: 1.3em;
}/*# sourceMappingURL=styles.css.map */